<div class="row">
  <div class="col-md-8 col-md-10">
    <%= form_for [:admin, @provincial] do |f| %>
      <%= render "shared/error_messages", object: @provincial %>

      <%= f.label :name %><br/>
      <%= f.text_field :name, class: "form-control" %>

      <div class="input-group">
      <%= f.label :kind %><br/>
      <%= f.select :kind, Provincial.kinds.keys,
        class: "form-control" %>
      </div>
      <div class="actions">
        <%= f.submit "Submit", class: "btn-primary btn-setdefault" %>
      </div>
    <% end %>
  </div>
</div>