  <div class="form-group row">
      <div >
        <div class="dropdown form-drop-down">
          <span class="glyphicon glyphicon-menu-down" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          </span>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
                  <%= link_to t("provincial.show"), admin_provincial_path(provincial),
                      class: "btn  icon-trash icon-white" %></li>
            <li>
                  <%= link_to t("provincial.edit"), edit_admin_provincial_path(provincial),
                        class: "btn  icon-trash icon-white" %>              
            </li>
            <li>
                 <%= link_to t("provincial.delete"), admin_provincial_path(provincial),
                      method: :delete, data: {confirm: t("provincial.confirm")},
                      class: "btn icon-trash icon-white" %>
            </li>
          </ul>
        </div>
        <span class="provincial-name"><%= provincial.name %></span>
        
        <span><%= provincial.kind %></span>
        
      </div>
      <div class="clear"></div>
      <hr>
  </div>
