<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= form_for [:admin, @hotel], html: { multipart: true } do |f| %>
      <%= render "shared/error_messages", object: @hotel %>

      <%= f.label :name %><br/>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :introduction %><br/>
      <%= f.text_field :introduction, class: "form-control" %>

      <%= f.label :kind %><br/>
      <%= f.text_field :kind, class: "form-control" %>

      <%= f.fields_for :images do |p| %>
        <div class="field">
          <%= p.label :picture %><br>
          <%= p.file_field :picture, :multiple => true, name: "images[picture][]" %>
        </div>
      <% end %>

      <%= f.label :price %><br/>
      <%= f.number_field :price, class: "form-control", min: 1000, step: 1000 %>
      
      <%= f.label :countRoom %><br/>
      <%= f.number_field :countRoom, class: "form-control", min: 1, step: 1 %>

      <%= f.label :phone_number %><br/>
      <%= f.text_field :phone_number, class: "form-control"%>

      <%= f.label :websitehotel %><br/>
      <%= f.text_field :websitehotel, class: "form-control"%>
      
      <%= f.label :address %><br/>
      <%= f.text_field :address, class: "form-control"%>
      
      <%= f.label :building_name %><br/>
      <%= f.text_field :building_name, class: "form-control"%>

      <div class="actions">
        <%= f.submit "Update", class: "btn-primary" %>
      </div>
    <% end %>
  </div>
</div>