<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= form_for [:admin, @village] do |f| %>
      <%= render "shared/error_messages", object: @village %>
      
      <%= f.label :distric %><br/>
      <%= f.select :distric_id, Provincial.all.collect { |p| [ p.name, p.id ] }, class: "form-control" %>

      <%= f.label :name %><br/>
      <%= f.text_field :name, class: "form-control" %>
      
      <div class="actions">
        <%= f.submit "Submit", class: "btn-primary btn-setdefault" %>
      </div>
    <% end %>
  </div>
</div>