<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= @village.distric.provincial.name %>
    <br>
    <%= @village.distric.name %>
    <br>
    <%= @village.name %>
    <br>
    <%= @village.longitude %>
    <br>
    <%= @village.latitude %>
  </div>
</div>