<% unless @hotel.images.nil? %>
  <% @hotel.images.each do |image| %>
    <div class="item">
      <%= image_tag image.picture, height: "40", with: "100" %>
    </div>
  <% end %>
<% end %>
<p><%= @hotel.address.building_name unless @hotel.address.nil? %></p>
<p>Name: <%= @hotel.name %></p>
<p>Price: <%= @hotel.price %></p>
<p>Intro: <%= @hotel.introduction%></p>
<p>phone: <%= @hotel.phone_number%></p>
<p>Site: <%= @hotel.websitehotel%></p>
<p>Kind: <%= @hotel.kind%></p>
<p>countRoom: <%= @hotel.countRoom%></p>
<%= rating_for @hotel, "hotel", star: 5, disable_after_rate: false %>
<%= @hotel.average("hotel").nil? ? "0" : @hotel.average("hotel").avg %>
<p><%= @hotel.rates("hotel").count %></p>

<div>
  <div id="comment-form">
  	<%= render 'shared/comment_form' if user_signed_in? %>
  </div>
  <div class="col-md-8">
      <% if @hotel.comments.any? %>
        Comments:
        <strong id="comment_number">
          <%= @hotel.comments.count %>
        </strong>
        <ol class="hotel">
        	<div id = 'comments'>      
  	        <%= render @comments %>
  	   	</div>
         </ol>
        <%= paginate @comments %>
      <% end %>
  </div>
</div>